# compiled output
/dist
/node_modules
/build
README.md

.env*
#Redis snapshots
*.rdb
redis_data/

e2e테스트용명령어

# 개인 참고용 파일 무시
*.md
*.txt
*테스트*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
result-with-redis.json
result-without-redis.json

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#scripts
lib/scripts/

# dotenv environment variable files
.env
db_data/
.env.development.local
.env.test.local
.env.production.local
.env.local
redis_data/

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
